body {
  text-align: center;
}

li {
  list-style: none;
}

a:link {
   text-decoration: none;
}

.left {
  float: left;
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
  padding: 5px;
}

.modal {
  display: none;
}

.title {
  border-bottom-style: solid;
  font-size: 30px
}

.post-content {
  text-align: justify;
  padding: 10px;
}

.nav-city-name {
  color: lightgray;
  position: absolute;
  bottom: 10px;
  left: 100px;
  right: 100px;
}

.hover-name {
  display: none;
}

.city-image {
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  border-style: inset;
  border-width: 1px; 
}

.city-image:hover {
  background-color: black;
}

.label {
  border-radius: 10px;
}
.text-left {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.items {
  display: flex;
  flex-direction: row;
  margin-right: 200px;
}

.userInfo {
  border: 1px solid black;
  flex-direction: column;
}

.card {
  width: 300px;
  height: 500px;
  overflow: hidden;
  transition: 0.3s;
  padding: 5px;
  position: relative;
  right: 30px;
}

.listItems {
  position: relative;
  top: 50px;
  left: 100px;
  width: 200px;
}

.container {
  padding: 2px 16px;
}

.input {
  border-radius: 4px;
}

.buttons {
  border-radius: 3px;
  margin: 2px;
  justify-content: space-around;
}

.items-in-posts {
  display: flex;
  flex-direction: row;
  width: 35px;
  position: relative;
  left: 974px;
  bottom: 42px;
}

.show-page {
  height: 500px;
  text-align: center;
}

.show-card {
  width: 30%;
  margin: 10px;
  position: relative;
  right: 80px;
}

.show-posts {
  border: 1px solid;
  width: 100%;
  overflow-y: scroll;
}

.city-page-content {
  width: 100%;
  text-align: center;
}

.city-page-content .right {
  border: 1px solid;
  position: relative;
  left: 13%;
  padding: 50px;
  width: 1300px;
  height: 600px;
}

.city-page-content .left {
  padding: 20px;
  width: 1200px;
  border: 1px solid;
}

.city-page-content .right{
  position: relative;
  bottom: 20px;
}

.editButton {
  height: 35px;
  margin-bottom: 10px;
}


.login input {
  margin: 2.5px;
}

.button_container {
  display: flex;
  justify-content: center;
}

.col-sm {
  padding-left: 10px;
}


.titles {
  display: flex;
}

.edit-button {
  margin-right: 200px;
}

.post-title {
  width: 100%;
  border: solid;
  display: flex;
  justify-content: center;
}

.post-display {
  margin-bottom: 35px;
  width: 100%;
}

.post-display h3, .truncate1000 {
  text-align: left; 
  margin-left: 150px;
}

.post-buttons {
  margin-top: 23px;
}

.post-section {
  margin-top: 50px;
}

.navbar {
  border-radius: 0;
}

.upload-pic {
  float: left;
}

.profile {
  width: 30%;
  margin-left: 200px;
  border: solid;
}
