body {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a:link {
   text-decoration: none;
}

.left {
  float: left;
  margin-left: 10px;
  display: inline-block;
}

.nav-city-name {
  color: lightgray;
  position: relative;
  margin-top: -10px;
  display: inline-block;
}

.navbar {
  border-radius: 0;
  position: relative;
  padding: 15px;
  height: auto;
}

.logo {
  margin-top: 0;
}

.right {
  float: right;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  margin-top: 5px;
}

.modal {
  display: none;
}

.hover-name {
  display: none;
}

.city-image {
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  border-style: inset;
  border-width: 1px;
}

.city-image:hover {
  background-color: black;
}

.label {
  border-radius: 10px;
}
.text-left {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.user-photo {
  width: 300px;
  height: 300px;
  border: solid 2px;
  padding: 15px;
}

.info-item {
  font-size: 20px;
  margin-left: 2px;
  display: inline-block;
}

.info-header {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}

.upload-pic {
  position: relative;
  margin-bottom: 5px;
}

.user-date {
  bottom: 5px;
  z-index: 2;
  position: relative;

}

.user-name {
  margin-bottom: 10px;
  font-size: 40px;
}

.card {
  text-align: left;
  margin-left: 150px;
}

.edit-button {
  margin-right: 250px;
}

.user-posts {
  left: 340px;
  bottom: 330px;
  position: absolute;
  z-index: 2;
}

.edit-profile {
  bottom: 560px;
  left: 65%;
  position: absolute;
  z-index: 2;
}

.input {
  border-radius: 4px;
}

.buttons {
  border-radius: 3px;
  margin: 3px;
}

.glyphicon.glyphicon-trash.delete {
  padding: 6px;
}

.show-page {
  position: absolute;
}

.show-card {
  text-align: left;
  margin-left: 150px;
  display: inline-block;
}

.show-posts {
  width: 800px;
  overflow-y: scroll;
  position: absolute;
  height: 500px;
  margin-left: 490px;
  top: 100px;
  z-index: 2;
}

.show-title {
  font-size: 40px;
  text-decoration: underline;
}

.show-body {
  font-size: 15px;
}

.editButton {
  height: 35px;
  margin-bottom: 10px;
}

.btn.btn-primary.editButton {
  margin-top: 15px;
  margin-right: 10px;
}

.login input {
  margin: 2.5px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 2px 16px;
}

.post-display {
  margin-bottom: 35px;
  width: 100%;
}

.post-display h3, .truncate1000 {
  text-align: left;
  margin-left: 180px;
}

.post-buttons {
  margin-top: 23px;
}
