<!DOCTYPE html>
<% include ./partials/header%>
  
<% if (error) { %>
  <%= error%>
<% } %>

<% if (userSess) { %>
  <% include ./modals/city_pic%>
<% } %>

<% cities.forEach(function(city) {%>
  <a href='/cities/<%=city.name%>'>
    <img class="city-image" src="<%=city.image%>">
  </a>
  <span class="hover-name"><%= city.name%></span>
<%})%>
<script type="text/javascript" src="/index.js"></script>
