<!DOCTYPE html>
<% include ./partials/header%>
<h1>Login!</h1>
<form action="/users/login" method="post">
  <input class="input" name="username" type="email" placeholder="Email" required/><br>
  <input class="input" name="password" type="password" placeholder="Password" required/><br>
  <input clas="buttons" type="submit" value="Log In"/>
</form>
<script type="text/javascript" src='/index.js'>
</script>