
<% include ./partials/header%>

<div class="container">
  <div class="row">
    <div class="col profile-card">
      <% include ./users/card%>
    </div>
    <div class="col">
      <% include ./lists/posts%>
    </div>
  </div>
</div>

<% include ./modals/user_edit%>
