
<% include ./partials/header%>
<div>
  <div class="card">
    <% include ./users/card%>
  </div>
  <div class="edit-profile">
    <% if (userSess.id === user.id) { %>
      <button type="button" class="btn btn-primary editButton"  data-toggle="modal" data-target="#exampleModal">
          Edit Profile
      </button>
    <% } %>
  </div>
  <div class="user-posts">
    <% include ./lists/posts%>
  </div>
</div>
<% include ./modals/user_edit%>

<script type="text/javascript" src="/index.js"></script>
