<!DOCTYPE html>
<% include ./partials/header%>
<div class="container">
  <div class="items">
    <div class="profile">
      <% include ./modals/user_pic %>
      <% include ./users/card%>
        <% if (userSess) { %>
        <button type="button" class="btn btn-primary editButton"  data-toggle="modal" data-target="#exampleModal">
            Edit Profile
        </button>
      <% } %>
    </div>
    <div>
      <div class="listItems">
        <% include ./lists/posts%>
      </div>
    </div>
  </div>
    <% include ./modals/user_edit%>
  </div>

  <script type="text/javascript" src="/index.js"></script>
