<!DOCTYPE html>
<% include ./partials/header%>
<div class="container">
  <div class="d-flex show-container">
      <div class="col show-card">
        <% include ./users/card%>
      </div>
      <div class="col show-posts">
        <h4><%= post.title%></h4>
        <p><%= post.body%></p>
      </div>
  </div>
</div>
