<!DOCTYPE html>
<% include ./partials/header%>

<div class="show-page">
  <div class="show-card">
    <% include ./users/card%>
  </div>
</div>
<div class="show-posts">
  <li class="show-title"><%= post.title%></li>
  <li><p class="show-body"><%= post.body%></p></li>
</div>
