<!DOCTYPE html>
<% include ./partials/header%>
<div class="container">
  <div class="d-flex">
      <div class="col show-card">
        <% include ./users/card%>
      </div>
      <div class="col show-posts">
        <p><%= post.title%></p>
        <p><%= post.body%></p>
      </div>
  </div>
</div>
