<!DOCTYPE html>
<% include ./header%>
  <form method='post' action='/posts/update/<%=post.id%>'>
    <label>Title:
    <div>
      <input name='title' value='<%=post.title%>'/>
    </div>
    </label><br>
    <label>Body:
    <div>
      <textarea name='body'><%=post.body%></textarea>
    </div>
    </label>
    <button type='submit'>Update</button>
  </form>
