<!DOCTYPE html>
<nav class="navbar navbar-inverse">
  <h1><a class="left" href="/">Roam</a>
    <span class="nav-city-name">
      <% if (city) { %>
        <%= city.name %>
      <% } %>
    </span>
  </h1>
  <% if (userSess) { %>
    <a class="right" href="/logout">Logout</a>
    <a class="right" href="/users/<%=userSess.name%>">Profile</a>
  <% } else { %>
    <a class="right" href="/login">Login</a>
    <a class="right" href="/users/signup">Sign Up</a>
  <% } %>
</nav>