<nav class="">
  <a class="roam-title" href="/">Roam</a>
  <h1 class="nav-city-name">
    <% if (city) { %>
      <%= city.name %>
    <% } %>
  </h1>
  <% if (userSess) { %>
    <a class="nav-list" href="/logout">Logout</a>
    <a class="nav-list" href="/users/<%=userSess.name%>">Profile</a>
  <% } else { %>
    <a class="nav-list" href="/login">Login</a>
    <a class="nav-list" href="/users/signup">Sign Up</a>
  <% } %>
</nav>
