<!DOCTYPE html>
<form method="POST" action="/cities" class="city-upload__image">
  <input type="hidden" role="uploadcare-uploader" name="city_image" data-images-only required/>
  <input type="text" name="name" placeholder="City Name">
  <input type="submit" value="Add City">
</form>
<script src='/index.js'></script>
<script type="text/javascript" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>