<!DOCTYPE html>
<form method="POST" action="/users/photos">
  <input type="hidden" role="uploadcare-uploader" name="content" data-public-key="6b5326acd4ea5f65a9c3" data-images-only required/>
  <input type="submit" value="Upload Photo">
</form>
<script src='/index.js'></script>
<script type="text/javascript" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>