<!DOCTYPE html>

<h1 class="user-name"><%= user.name%></h1>
<% include ../modals/user_pic %>
<img src="<%= user.image%>" class="user-photo">
<div>
  <p class="info-header">Current City:</p>
  <p class="info-item"><%= user.current_city%></p>
</div>
<div class="user-date">
  <p class="info-header">Join Date:</p>
  <p class="info-item"><%= user.created_at.toString().slice(0, 15) %></p>
</div>
